

.section-mission {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .title-mission {
    color: rgb(236, 230, 230);
    font-size: 40px;
    /* margin-bottom: 20px;  */
  } 
  
  
  .slogan1 {
    font-size: 30px ;
    color:yellow
  }
  
  .slogan2{
    font-size: 30px;
    color: rgb(152, 236, 152) ;
  }
  
  
   .slogan3{
    font-size: 30px ;
    color: rgb(2, 5, 152) ;  } 
   
   
 .slogan4 {
    font-size: 30px ;
    color:rgb(60, 58, 58)
  
    margin: 10px 0;
  }